page-recipe-details {
    .back-button {
        display: none!important;
    } 
    .bar-button-menutoggle {
        display: inline-block!important;
    }
    #list-row {
		padding-top: 10px;
        padding: 10px;
        background-color: white;
    }
    #list-row h2 {
        color: blue;
    }
    #list-row strong {
        color: orange;
    }
	.whitesmoke{
		background-color:whitesmoke;
	}
	.snow{
		background-color:snow;
    }
    .checkbox-md .checkbox-icon {
        border-radius: 8px;
    }
    .item-md {
        padding-left: 0;
    }
    .contents {
        background-color: wheat;
        padding: 10px;
    }
    .contents-div {
        margin-bottom: 14px;
    }
    .item {
        background-color: wheat;
    }
}
