<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cocktails / {{brand}} / {{recipeName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding autohide>
  <ion-grid>
    <ion-row id="list-row">
      <ion-col col-12 class="display-flex item-divider">
        <h2 text-center>{{recipeName}}</h2>
      </ion-col>
      <ion-col col-12 class="display-flex">
        <h5>
          <strong>Ingredients:</strong>
        </h5>
        <div class='contents contents-div'>
          <ion-item ion-item *ngFor="let item of ingredientArray; let i = index">
            <ion-label>{{ item.name }}</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </div>
      </ion-col>
      <ion-col col-12 class="display-flex">
        <h5>
          <strong>Method:</strong>
        </h5>
        <p class='contents' text-justify>{{description}}</p>
      </ion-col>
      <ion-col col-12 class="display-flex" *ngIf=" garnishes != ''">
        <h5>
          <strong>Garnishes:</strong>
        </h5>
        <p class='contents' text-justify>{{garnishes}}</p>
      </ion-col>
      <ion-col col-12 class="display-flex">
        <h5>
          <strong>Specially for:</strong>
        </h5>
        <p class='contents'>{{speciallyFor}}</p>
      </ion-col>
    </ion-row>
    <ion-row id="list-row" style="margin-top: -1px;">
      <ion-col>
        <img [src]="image" onError="this.src='assets/imgs/cocktail-default.png'" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right #fab>
      <button ion-fab (click)="scrollToTop()">
          <ion-icon name="ios-arrow-up"></ion-icon>
      </button>
  </ion-fab>
</ion-content>