page-prices {
    .back-button {
        display: none!important;
    } 
    .bar-button-menutoggle {
        display: inline-block!important;
    }
    .row-label {
        display: table-cell;
        white-space: unset;
    }
    #list-row {
		padding-top: 10px;
		padding-left: 10px;
	}
	.beige{
		background-color:beige;
	}
	.lightyellow{
		background-color:lightyellow;
	}
}
