page-recipe {
    .back-button {
		display: none!important;
	} 
	.bar-button-menutoggle {
		display: inline-block!important;
	}
    .row-label {
        display: table-cell;
    }
    #list-row {
		padding-top: 10px;
		padding-left: 10px;
	}
	.whitesmoke{
		background-color:whitesmoke;
	}
	.snow{
		background-color:snow;
	}
}
