<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Top 10 Drinks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
        <!-- autohide -->
  <div *ngFor="let item of pricesArray; let i = index">
      <div id="list-div" (click)="showDetails(item)" *ngIf="item.li_name != 'null'">
          <ion-row id="list-row" [ngClass]="(i % 2 == 0) ? 'lightyellow' : 'beige'">
              <ion-col col-2 class="display-flex">
                  <ion-label class="row-label">
                    #{{i+1}}
                  </ion-label>
              </ion-col>
              <ion-col col-8 class="display-flex">
                  <ion-label class="row-label">
                    {{item.li_name}}<br>({{item.li_type}})
                  </ion-label>
              </ion-col>
              <ion-col col-2 class="display-flex">
                  <ion-label class="row-label">
                    <ion-icon id="likes" name="md-thumbs-up"></ion-icon>&nbsp;{{item.li_likes}}
                  </ion-label>
              </ion-col>
          </ion-row>
      </div>
      <div *ngIf=" item.li_name == 'null'">
          <ion-row class="beige">
              <ion-col col-12 class="display-flex">
                  <ion-label class="row-label">
                      No records are available.
                  </ion-label>
              </ion-col>
          </ion-row>
      </div>
  </div>
  <!-- <ion-fab bottom right #fab>
      <button ion-fab (click)="scrollToTop()">
          <ion-icon name="ios-arrow-up"></ion-icon>
      </button>
  </ion-fab> -->
</ion-content>