page-bottle-details {
    .back-button {
        display: none!important;
    } 
    .bar-button-menutoggle {
        display: inline-block!important;
    }
    .bottle-details {
        background-color: lightyellow;
        margin-top: 20px;
    }
    .bottle-details h3 {
        color: blue;
    }
    .bottle-details ion-col {
        color: blue;
        font-size: 15px;
    }
    .bottle-details strong {
        color: black;
    }
    .bottle-details img {
        margin: auto;
        display: block;
    }
    #price-col {
        margin: auto;
        padding-bottom: 0;
        padding-top: 0;
    }
    #price-col .col {
        border-bottom: 1px solid greenyellow;
    }
    .item-divider{
        background-color: lightyellow;
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 0px;
        z-index: 3 !important;
    }
}
