page-bottle-details {
    .back-button {
        display: none!important;
    } 
    .bar-button-menutoggle {
        display: inline-block!important;
    }
    .bottle-details {
        background-color: white;
        margin-top: 20px;
    }
    .bottle-details h3 {
        color: blue;
    }
    .bottle-details ion-col {
        color: blue;
        font-size: 15px;
    }
    .bottle-details strong {
        color: black;
    }
    .bottle-details img {
        margin: auto;
        display: block;
    }
}
