<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isFavouritePage">Prices / {{type}} / {{title}}</ion-title>
    <ion-title *ngIf="isFavouritePage">Prices / Favourite</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="unfavoriteLiqure()" *ngIf="isFavorite"><ion-icon id="star" name="star"></ion-icon></button>
      <button ion-button icon-only (click)="favoriteLiqure()" *ngIf="!isFavorite"><ion-icon name="star-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="bottle-details">
    <div class="item-divider">
      <ion-row>
        <ion-col>
          <h2 text-center>{{title}}</h2>
        </ion-col>
      </ion-row>
      <div>
        <ion-row>
          <ion-col id="price-col" col-12 col-auto *ngFor="let item of pricesArray; let i = index">
            <ion-row>
              <ion-col col-3 push-2>
                <strong>{{item.quentity}}ml:</strong>
              </ion-col>
              <ion-col col-2 push-2>
              </ion-col>
              <ion-col col-3 push-2 text-right>
                Rs.{{item.price}}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <strong>Type:</strong> {{type}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>ABV:</strong> {{volume}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Year:</strong> {{year}}
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col>
            <strong>Company:</strong> {{company}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Country:</strong> {{country}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img [src]="image" onError="this.src='assets/imgs/bottle-default.png'" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
      <button ion-fab (click)="addComment()">
          <ion-icon name="ios-create-outline"></ion-icon>
      </button>
  </ion-fab>
</ion-content>