page-bottle-details {
    .back-button {
        display: none!important;
    } 
    .bar-button-menutoggle {
        display: inline-block!important;
    }
    .bottle-details {
        background-color: white;
    }
}
